<form>
  <div class="form-group">
    <label>Name</label>
    {{input value=changeset.name class="plan--name form-control"}}
    {{#if (get changeset.error 'name')}}
      {{#each (get (get changeset.error 'name') 'validation') as |error|}}
        <div class="plan--name-error">{{error}}</div>
      {{/each}}
    {{/if}}
  </div>

  {{#each changeset.planComponentGroups as |group|}}
    {{plan-component-group-editor planComponentGroup=group}}
  {{/each}}

  <button class="btn btn-outline-primary button--save" {{action save changeset}}>Save</button>
  <button class="btn btn-outline-warning button--cancel" {{action rollback changeset}}>Cancel</button>
</form>
