<div class="plan-component-select-prev-btn-cell">
  <button {{action "prev"}} disabled={{prevBtnDisabled}}>Prev</button>
</div>
{{#each planComponentsToDisplay as |planComponent|}}
  <div class="plan-component-select-component-cell">
    {{plan-component-group-editor/plan-component-editor model=(changeset planComponent )}}
  </div>
{{/each}}
<div class="plan-component-select-next-btn-cell">
  <button {{action "next"}} disabled={{nextBtnDisabled}}>Next</button>
</div>
