<div class="brand">
  <nav class="brand-nav">
    <h2>{{model.name}}</h2>
    {{link-to 'Edit' 'brand.edit' model}}
    {{link-to 'Back' 'brands'}}
    {{link-to 'Plans' 'brand.plans' model}}
  </nav>
  <main class="brand-main">
    {{outlet}}
  </main>
</div>
